extends _main_layout

append styles
    link(href="/shared/footer/footer.css" rel="stylesheet")

block header
    != partial("../shared/menu/_menu")

block content
    .container.main-content
        != yield

block footer
    != partial("../shared/footer/_footer")