doctype
html
    head
        block styles
            link( href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css')
            link(   href="/build/build.css" rel="stylesheet" )
            link(   href="/index.css" rel="stylesheet" )

        block scripts
            script( src="/build/build.js")

    body
        block header
        block content
        block footer
