body
  background-color: #e5e5e5
  font: normal 13px
  font-family: 'Open Sans', Roboto,arial,sans-serif
  font-weight: 300
  height: 100%
  margin: 0
  overflow-y: scroll
  visibility: visible

.main-content
  background-color #FFFFFF
  position relative
  padding-top: 20px

  ancho-sombra = 22px
  difuminado-sombra = 20px

  -moz-box-shadow: 0 ancho-sombra difuminado-sombra 0 rgba(0,0,0,.19)
  -webkit-box-shadow: 0 ancho-sombra difuminado-sombra 0 rgba(0,0,0,.19)
  box-shadow: 0 ancho-sombra difuminado-sombra 0 rgba(0,0,0,.19)