#navbar
  text-align:center
  top: 0
  width: 100%
  padding-left 50px
  padding-right 50px
  padding-top 30px

  background-color: #7BB1E0
  padding-bottom: 250px

  ul
    padding 20px
    display: inline
    size: 30px
    border-bottom: solid white 1px
    li
      list-style-type: none
      display: inline
      padding: 20px
      a
        color: #FFFFFF
        font-size 17px