#main-header
  margin-bottom -150px
  text-align:center
  top: 0
  width: 100%
  height 400px
  padding-left 50px
  padding-right 50px
  padding-top 30px

  /*background url("/assets/uqbar_people.jpg") no-repeat*/
  background-color #4682b4
  background-size cover

  ancho-sombra = 12px
  difuminado-sombra = 42px

  -moz-box-shadow: 0 ancho-sombra difuminado-sombra 0 rgba(0,0,0,.22)
  -webkit-box-shadow: 0 ancho-sombra difuminado-sombra 0 rgba(0,0,0,.22)
  box-shadow: 0 ancho-sombra difuminado-sombra 0 rgba(0,0,0,.22)

  ul
    padding 20px
    display: inline
    margin-bottom 100px
    size: 30px
    border-bottom: solid white 1px
    li
      list-style-type: none
      display: inline
      padding: 20px
      a
        color #FFFFFF
        font-weight 400
        font-size 17px

.logo-container
  display block
  margin auto
  height 100%
  margin-top: -50px
  width: 300px
  /*background url("/assets/logo.png") no-repeat 50% 50%*/
  background-size contain