.navbar
  z-index 200

nav
  div
    background-color: black;

.navbar-default
  background-color: transparent
  border-color: transparent
  border-width: 0
  border-radius: 0
  box-shadow: none

.affix
  position: fixed
  top 0
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)
  ul
      border-top none !important

.navbar-default .navbar-toggle .icon-bar
  background-color: #fff


#nav
  margin: 0 auto;
  text-align: center;
  width: 100%;

  ul
    float: none
    display: inline-block
    margin: 0
    padding: 0

    li
      list-style-type: none
      float: left;

      a
        color #2d92be
        font-weight 700
        font-size 16px
        padding: 11px 10px;

  #logo-wisit
    height 45px
    vertical-align: bottom
    margin-top: 0px
    margin-bottom: 0px