extends ../shared/_main_layout
append styles
    link(   href="/home/home.css" rel="stylesheet" )
    link(   href="/shared/navbar/navbar.css" rel="stylesheet" )
    link(   href="/shared/footer/footer.css" rel="stylesheet" )

block header
    != partial("../shared/menu/_menu")

block content
    != yield

block footer
    != partial("../shared/footer/_footer")
