doctype
html
    head
        link( href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css')
        link(   href="/build/build.css" rel="stylesheet" )
        link(   href="home.css" rel="stylesheet" )
        script( src="/build/build.js")
    body
        != partial("_menu")
        != yield