body
  background-color: #e5e5e5
  font: normal 13px
  font-family: 'Quicksand', Roboto,arial,sans-serif
  height: 100%
  margin: 0
  overflow-y: scroll
  visibility: visible

.home-title
  color: #FFFFFF

separacion = 15px
alto-caja = 300px

.section-box-wrapper
  padding separacion

.section-box
  background-color: #f5f5f5
  height alto-caja
  -webkit-border-radius: 3px
  border-radius: 3px
  -webkit-box-sizing: border-box
  box-sizing: border-box
  border-bottom-width: 2px
  border-top-width: 0
  vertical-align: top

  :hover
      -moz-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19)
      -webkit-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19)
      box-shadow: 0 17px 50px 0 rgba(0,0,0,.19)
      position: relative
      z-index: 100
    
.teaching
  background url("/assets/teaching.jpg") no-repeat 50% 50% #edddbc

.thin
  background url("/assets/thin_languages.png") no-repeat 50% 50% #6bc9ed

.projects
  background url("/assets/projects.jpg") no-repeat 50% 50% #f38f45

.uqbar-description
  background #FEFEFE
  height (alto-caja+separacion)*2
  p
    padding 15px
    font-size 28px

.section-boxes
  padding 30px

.home-hero
  /*background: url("/assets/hero.png") 50% no-repeat*/
  background-color: #286090
  background-size: contain
  width: 100%
  height: 400px