.home-hero
.section-boxes
    .row
        .col-lg-6.col-md-8.section-box-wrapper
            .section-box.thin
        .col-lg-3.col-md-4.section-box-wrapper
            .section-box.teaching
        .col-lg-3.col-md-4.section-box-wrapper
            .section-box.projects

    .row
        .col-lg-3.col-md-4
            .row
                .col-md-12.section-box-wrapper
                    .section-box.publications
            .row
                .col-md-12.section-box-wrapper
                    .section-box.publications

        .col-lg-6.col-md-8.section-box-wrapper
            .section-box.uqbar-description
                p #{public.home._data.uqbar_description}
                p #{public.home._data.uqbar_description_etymology}

        .col-lg-3.col-md-4
            .row
                .col-md-12.section-box-wrapper
                    .section-box.team
            .row
                .col-md-12.section-box-wrapper
                    .section-box.publications
