.container.main-content
    .col-md-12

        .row
            .col-md-12
                .uqbar-description
                    p #{public.home._data.uqbar_description}
                    p #{public.home._data.uqbar_description_etymology}
