.main-footer
  height 300px
  background-color steelblue
  margin-top -50px
  padding-top 60px

  ul
    padding 20px
    size: 30px
    li
      list-style-type: none
      a
        color #FFFFFF
        font-weight 400
        font-size 17px