extends ../shared/_main_layout
append styles
    link(   href="/home/home.css" rel="stylesheet" )

block header
    != partial("../shared/menu/_menu")

block content
    != yield

block footer
    h3 footer
